
.footer {
  --footer-font-size: 12px;
  --footer-link-margin: 15px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: var(--footer-font-size);
}

.footer a {
  margin-right: var(--footer-link-margin);
  margin-bottom: var(--spacing-xs);
  color: var(--color-text-primary);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

